<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div>
    <table style="margin-left: auto; margin-right: auto;">
        <thead style="background-color: #F5E8D0; font-size: 22px;">
        <tr class="first">
            <th scope="col">Username</th>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Age</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
        </tr>
        </thead>
        <tbody style="font-size: 20px">
        <tr th:each="user: ${users}">
            <th style="background-color: springgreen" th:text="${user.username}"/>
            <th th:text="${user.id}"/>
            <th th:text="${user.name}"/>
            <th th:text="${user.lastName}"/>
            <th th:text="${user.age}"/>
            <th th:text="${user.email}"/>
            <th th:text="${user.roles}"/>
            <td> <a th:href="@{/admin/{id}/(id=${user.id})}" th:text="Page"/> </td>
            <td> <a th:href="@{/admin/update/{id}/(id=${user.id})}" th:text="Edit"/> </td>
            <td> <a th:href="@{/admin/{id}/delete(id=${user.id})}" th:text="Delete"/></td>
        </tr>
        </tbody>
    </table>

    <form th:action="@{/admin/create}">
        <input type="submit" value="Create new user" style="background-color: orange;"/>
    </form>
    <form th:action="@{/logout}"><label>
        <input th:type="submit" th:value="'Logout'">
    </label></form>
</div>
</body>
</html>